<header>
    <h1><%= squad.name %></h1>
  
    <ul>
      <li><a href="/?squad=squad-a-2022"></a></li>
      <li><a href="/?squad=squad-b-2022"></a></li>
      <li><a href="/?squad=squat-c-2022"></a></li>
    </ul>
    
</header>