* {
    box-sizing: border-box;
    margin: 0;
    background-color: lightgray;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


    /* Navigatie styling */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

ul {
    margin-right: 8%;
    display: flex;
    flex-direction: row;
    gap: 20%;
    justify-content: center;
    list-style: none;
    align-items: center;
}

li a {
    display: flex;
    text-decoration: none;
    width: 9rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-radius: 25px;
    color: black;
}

.active {
    background-color: #ff8800;
    color: black;
}

h1 {
    font-size: 50px;
}


    /* landings page styling */
    
main {
    margin-bottom: 1rem;
}

.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}


    /* kaartjes */

.members {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    border: 4px dashed var(--favo-kleur, black);
    background-color: white;
    color: var(--favo-kleur);
    width: 19rem;
    min-width: 18rem;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
}

.members:hover {
    box-shadow: 10px 10px var(--favo-kleur, black);
    border: 4px solid var(--favo-kleur, black);
}

.members img {
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    margin-bottom: 10%;
    object-fit: cover;
}

.members h2 {
    font-size: 23px;
    margin: 2rem;
    background-color: white;
}

.members p {
    margin: 1.5rem;
    font-size: 18px;
}


    /* Pop-up venster */

.card {
    background-image: url(/images/background-cartoon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #fff;
    color: black;
    overflow: visible;
    border: none;
}

.card_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    background: none;
}

.card div {
    position: relative;
    width: 35rem;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 16rem;
}

.modal_img {
    width: 14rem;
}

p {
    background-color: white;
}

h3 {
    background-color: white;
    font-size: 30px;
}

button {
    position: relative;
    width: 7rem;
    height: 2rem;
    border-radius: 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.visible {
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
}

.invisible {
    height: 100%;
    overflow: hidden;
}