* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

article {
    width: 20%;
}

.members {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    border: 2px solid var(--favo-kleur, black);
    box-shadow: 10px 10px var(--favo-kleur, lightgrey);
    background-color: white;
    color: var(--favo-kleur);
}

.members img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.members h2 {
    font-size: 30px;
}

.members p {
    margin: 1.5rem;
    font-size: 18px;
}

/* #krijn-hoetmer, #ivar-schuyt, #marwaxhello {
    color: white;
} */